/* Declarations */
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

/* Watch section */
#video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 80vh;
    width: 100vw;
    background-color: black;
}

#subtitles-area {
    position: absolute;
    bottom: 0;
    left: 0;
    height: -webkit-fill-available;
    max-height: 15vh;
    width: 100vw;
    text-align: center;
}

.translatable-unit {
    display: inline-block;
    font-size: 2rem;
    line-height: 2rem;
}

.subtitle-word:hover {
    background-color: seagreen;
    border-radius: 8px;
    cursor: help;
}

#current-subtitles {
    font-family: Ubuntu, Arial, serif;
    background-color: #222;
    color: gold;
    padding: 16px;
}

.translation-bubble {
    position: absolute;
    border: 5px solid orange;
    border-radius: 20px;
    padding: 10px;
    z-index: 5;
    background-color: gold;
    color: black;
    width: 300px;
    font-size: 1.2rem;
}

.translation-bubble:after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 128px; /* Don't ask me why 128, it just looks the best on my machine */
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid orange;
}

.translation-bubble-loading {
    margin: 8px 0;
}

.translation-bubble-loading-img {
    height: 1.2rem;
    position: relative;
    top: 2px;
    /* Code copied from https://code-boxx.com/rotate-spin-image-html-css/ */
    animation-name: spinning;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* Animation declaration at the start of this file was also copied */
    /* End of copied code */
}

.close-button {
    position:absolute;
    top: 0;
    right: 0;
    float: right;
    height: 32px;
    width: 32px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: blanchedalmond;
}

.dictionary-notification {
    text-align: center;
    font-size: 0.8rem;
}

.translation-bubble-undo {
    display: block;
    margin: auto;
    padding: 4px;
    line-height: 1rem;
}

/* Summary section */

#summary-overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
}

#dictionary-export-details > section {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    max-height: 75vh;
    height: fit-content;
    overflow-y: auto;
}

#csv-export-field {
    font-family: Consolas, monospace;
    font-size: small;
    background-color: #ccc;
    width: 100%;
    resize: none;
}