.card {
    display: flex;
    justify-content: center	;
    align-items: center;
    font-family: arial, serif;
    font-size: 24px;
    text-align: center;
    color: #7f0041;
    background-color: #fdc4e1;
}

.flashcard {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: fit-content;
    max-width: 90%;
    border: 5px groove #e656ab;
    background-color: #f789ff;
    padding: 16px;
}

#question {
    padding-bottom: 16px;
    border-bottom: 5px dotted #fdc4e1;
    margin-bottom: 16px;
}

.invisible {
    visibility: hidden;
}

.watermark {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: x-small;
    color: #999;
}